            $working-color: #009933;
            $not-working-color: #cc0000;
            $sidebarWidth: 200px;
            body {
                background-color: rgba(0, 0, 0, 0.045) !important;
                font-family: 'Roboto', sans-serif;
                font-size: 0.95rem;
            }
            
            h1,
            h2,
            h3,
            h4,
            h5 {
                font-family: 'Roboto Condensed', sans-serif;
            }
            
            nav {
                border-top: 4px solid #007bff; //border-bottom: 1px solid #ccc;
                box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
            }
            
            #page {
                margin-top: 60px;
            }
            
            .custom-bg {
                background-color: #277cbf !important;
                border-color: #34ace1 !important;
                color: #ffffff !important;
            }
            
            .breadcrumb {
                background-color: #eee;
                border: 1px solid #ddd;
            }
            
            footer {
                //box-shadow: 0 -1px 5px rgba(0, 0, 0, .25);
                //color: #f2f2f2;
                position: relative;
            }
            
            #login-panel,
            #register-panel {
                max-width: 600px;
                margin: 0 auto;
            }
            
            .badge {
                text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
            }
            
            .customCard {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-top: 3px solid #007bff;
            }