.col-item
{
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  background: #FFF;
}
.col-item .photo img
{
  margin: 0 auto;
  width: 100%;
}

.col-item .info
{
  padding: 10px;
  border-radius: 0 0 5px 5px;
  margin-top: 1px;
}

.col-item .price
{
  float: left;
  margin-top: 5px;
}

.col-item .price h5
{
  line-height: 26px;
  margin: 0;
}

.price-text-color
{
  color: #2193b0;
}

.col-item .separator
{
  border-top: 1px solid #E1E1E1;
}

.clear-left
{
  clear: left;
}

.col-item .separator p
{
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  text-align: center;
}

.col-item .separator p i
{
  margin-right: 5px;
}
.col-item .section-qty
{
  width: 50%;
  float: left;
  border-right: 1px solid #E1E1E1;
}

.col-item .section-price
{
  padding: 15px;
}

.section-price h5 {
  margin-top: 18px;
}

.section-price button {
  margin-top: 10px;
}
